<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azinecllc.champy"
    android:installLocation="auto">

    <uses-permission android:name="com.azinecllc.champy.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission android:name="com.azinecllc.champy.permission.C2D_MESSAGE" android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/ic_champy_circle"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id" />

        <!-- Activities For Login. AppLoginTheme -->
        <activity android:name="com.azinecllc.champy.activity.RoleControllerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppLoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.azinecllc.champy.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppLoginTheme" />

        <!-- Basic Activities. AppTheme.NoActionBar -->
        <activity android:name="com.azinecllc.champy.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.azinecllc.champy.activity.FriendsActivity"
            android:label="@string/friends"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.azinecllc.champy.activity.ContactUsActivity"
            android:label="Contact Us"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.azinecllc.champy.activity.HistoryActivity"
            android:label="@string/title_activity_history"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.azinecllc.champy.activity.AboutActivity"
            android:label="@string/about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--Activity which works with challenge. AppCreateChallengeTheme -->
        <activity
            android:name="com.azinecllc.champy.activity.SelfImprovementActivity"
            android:label="@string/title_activity_self_improvement1"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:theme="@style/AppCreateChallengeTheme" />
        <activity android:name="com.azinecllc.champy.activity.WakeUpActivity"
            android:label="@string/title_activity_wake_up"
            android:screenOrientation="portrait"
            android:theme="@style/AppCreateChallengeTheme" />
        <activity android:name="com.azinecllc.champy.activity.AlarmReceiverActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCreateChallengeTheme" />
        <activity android:name="com.azinecllc.champy.activity.DuelActivity"
            android:label="@string/title_activity_duel"
            android:screenOrientation="portrait"
            android:theme="@style/AppCreateChallengeTheme" />
        <activity android:name="com.azinecllc.champy.activity.PendingDuelActivity"
            android:label="@string/title_activity_pending__duel"
            android:screenOrientation="portrait"
            android:theme="@style/AppCreateChallengeTheme" />

        <!-- Activity not from Champy -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait"/>


        <!-- RECEIVERS -->
        <receiver android:name="com.azinecllc.champy.receiver.CustomAlarmReceiver">
            <!--added android:enabled="false" for reboot situation -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.azinecllc.champy.receiver.CustomNotifyReceiver" />
        <receiver android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.azinecllc.champy" />
            </intent-filter>
        </receiver>

        <!-- SERVICES -->
        <service
            android:name="com.azinecllc.champy.service.MyAlarmService"
            android:enabled="true" />
        <service android:name="com.azinecllc.champy.service.MyGcmListenerService" android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

    </application>

</manifest>
